:root {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;
  --border-radius: 1rem;
  --page-width: 62.5rem;
  --page-padding-top: 40px;
  --page-padding-bottom: 40px;
  --page-padding-left: 40px;
  --page-padding-right: 40px;
  --header-height: 6.25rem;
  --footer-height: 7.5rem;
  --text-color: #000000;
  --tile-font-weight: 600;
  --tile-font-size: 40px;
  --tile-line-height: 40px;
  --text-primary-color: #141415;
  --text-secondary-color: #007991;
  --background-color: #e8f8ef;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #ffffffff;
  color: var(--text-color);
  font-size: 16px;
  font-family: "Raleway";
  line-height: 1.5rem;
  text-rendering: optimizeLegibility;
}

body.fixed {
  position: fixed;
  overflow: hidden;
}

.container {
  padding: 0px;
}

/* sections and pages style */
.header {
  background-color: var(--background-color);
}
.header-container {
  margin: auto;
  max-width: var(--page-width);
  padding-top: var(--page-padding-top);
  padding-bottom: 20px;
  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  max-width: var(--page-width);
  padding-top: var(--page-padding-top);
  padding-bottom: var(--page-padding-bottom);
  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);
}
.section-title {
  color: var(--text-primary-color);
  text-align: left;
  font-family: var(--font-family);
  font-weight: var(--tile-font-weight);
  font-size: var(--tile-font-size);
  line-height: 100%;
  margin-bottom: 25px;
  line-height: var(--tile-line-height);
}
.section-intro {
  color: var(--text-primary-color);
  text-align: left;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: justify;
  text-justify: inter-word;
}
.section-description {
  flex: 6;
  text-align: justify;
  text-justify: inter-word;
}
.section-image {
  flex: 4;
  max-width: 400px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  margin-right: 40px;
}

/* buttons */
.btn-primary {
  background-color: #ffffff;
  border-color: var(--text-primary-color);
  border-radius: 10px;
  color: var(--text-primary-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 31px;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: var(--text-secondary-color);
  border-color: var(--text-secondary-color);
}
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  color: #ffffff;
  background-color: var(--text-secondary-color);
  border-color: var(--text-secondary-color);
  box-shadow: none;
}

/* Use btn-secondary only in the PhotoGallery section */
/* .btn-secondary {
  background-color: var(--photo-gallery-image-over-background-color);
  border-color: var(--photo-gallery-image-over-text-color);
  border-radius: var(--button-border-radius);
  color: var(--photo-gallery-image-over-text-color);
  font-weight: 700;
  font-size: var(--photo-gallery-description-font-size);
  line-height: 31px;
}
.btn-secondary:hover {
  color: var(--photo-gallery-image-over-background-color);
  background-color: var(--photo-gallery-image-over-text-color);
  border-color: var(--photo-gallery-image-over-background-color);
}
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
  color: var(--photo-gallery-image-over-background-color);
  background-color: var(--photo-gallery-image-over-text-color);
  border-color: var(--photo-gallery-image-over-background-color);
  box-shadow: none;
}
 */
