.section {
  background-color: var(--background-color);
}

@media (max-width: 1200px) {
  .whoami-image {
    max-width: 400px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
  }

  .whoami-title {
    text-align: center;
  }
}
