.footer {
  border-top: 1px solid #000000;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: auto;
  max-width: var(--page-width);
  padding-top: var(--page-padding-top);
  padding-bottom: var(--page-padding-bottom);
  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);
}

.footer-names {
  color: var(--prymary-color);
  font-size: var(--footer-font-size);
  font-weight: var(--footer-font-weight);
}

.footer-copyright {
  color: var(--prymary-color);
  font-size: var(--footer-font-size);
  font-weight: 600;
  margin-left: auto;
  text-decoration: none;
}

.footer-copyright:hover {
  color: var(--prymary-color);
}
